.page {
	grid-area: content / content / content / cards;
	padding: 1rem;
	overflow-y: auto;
	height: 100vh;
}

.temperatureDashboard {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 0.5em 0.5em 6em 0.5em;
}
