:root {
	--scale: 1;
	--width: 1080px;
	--height: 1920px;
	--header-height: 200px;
	--sub-header-height: 200px;
	--sub-header-font-size: 30px;

	--ad-height: 480px;
	--ad-width: 1080px;
	--viewport-border-radius: 10px;

	--departure-item-height: 140px;
	--departure-x-pad: 30px;
	--departure-y-pad: 20px;
	--departure-number-pad: 35px;
	--departure-border-radius: 4px;

	--departure-number-size: 96px;
	--departure-number-font-size: 60px;
	--departure-number-3digit-font-size: 50px;
	--departure-headsign-font-size: 50px;
	--departure-direction-font-size: 35px;
	--departure-first-font-size: 59px;
	--messaging-font-size: 43px;
	--messaging-font-size-large: 100px;
	--departure-second-font-size: 32px;

	--departure-line-height: 107px;
	font-family: 'interstate', sans-serif;

	/* To manage light and dark mode, refer to KioskDisplay.module.css */
	--departure-text-color: #242424;
	--departure-background: rgb(255, 255, 255);
	--departure-line-color: rgb(208, 208, 208);
	--departure-hopper-background-color: rgb(225, 225, 225);

	--messaging-background-color: #e6e6e6;

	--header-background: #242424;
	--header-color: #fff;

	--skeleton-background: #f0f0f088;
	--skeleton-highlight: #f0f0f056;

	--header-areas: 'logo time time' 'logo name istop';
	--header-rows: min-content 1fr;
	--header-columns: min-content 1fr min-content;

	--header-align: right;

	--logo-mtd: #fff;
	--logo-swoosh: #e10027;

	--soon-departure-dark-mode-color: #fc7272;
	--soon-departure-light-mode-color: #b30000;

	--logo-width: 230px;
}

html,
body,
main {
	cursor: none;
	overflow: hidden;
}

html {
	background-color: black;
}

body {
	margin: 0;
	color: var(--departure-text-color);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
	display: none !important;
}
