.previewImage {
	display: block;
}
.previewContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

.refreshButton {
	position: absolute;
	margin-left: auto;
}
@media (max-width: 700px) {
	.previewImage {
		width: 100%;
		height: auto;
	}
}
