.parent {
	width: 100%;
	gap: 1em;
	/* background-color: var(--card-background-color); */
	display: flex;
	flex-direction: column;
	/* height: max-content; */
	overflow-y: scroll;
	/* calculate mobile friendly padding */
	padding: 1em;
	background-color: rgb(var(--background-secondary-rgb));
}

.parent > * {
	border-top: 1px dotted rgb(var(--card-border-rgb));
	border-radius: var(--border-radius);
}

.children {
	background-color: rgb(var(--background-rgb));

	padding: 2em;
}

.kioskId {
	margin: 0;
	opacity: 60%;
	font: monospace;
}

.kioskCards {
	/* style={{ gridArea: 'cards', overflowY: 'scroll' }} */
	grid-area: cards;
	overflow-y: scroll;

	background-color: rgb(var(--background-secondary-rgb));
}
