.kioskCardsContainer {
	width: 100%;
	gap: 2em;
	padding: 2em;
	margin-bottom: 5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
	scroll-behavior: smooth;
	flex: 1;
}
