.icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border: 3px solid rgba(0, 0, 0, 0.3);
	background-image: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));
	background-color: var(--kiosk-unknown);
	/* fade background color on change */
	transition: background-color var(--fade-animation-duration) ease-in-out;
}

.healthy {
	background-color: var(--kiosk-healthy);
}

.warning {
	background-color: var(--kiosk-warning);
	box-shadow: 0 0 0 5px rgba(255, 166, 0, 0.272);
}

.critical {
	background-color: var(--kiosk-critical);
	animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px red;
	}
	100% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
}

.focused {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	scale: 1.3;
	transition: scale 0.1s ease-in-out;
	border-color: blue;
	/* bring to front */
	/* position: relative; */
}
