.toolbar {
	width: 100%;
	/* display: flex; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;

	grid-template-areas: 'logo links user';

	/* justify-content: space-between; */
	align-items: center;
	/* height: 7rem; */
	height: 4em;
	background-color: rgb(var(--background-rgb));
	color: rgb(var(--foreground-rgb));
}

.links {
	display: flex;
	flex-direction: row;
	gap: 1ch;
	grid-area: links;
	justify-content: center;
}

.user {
	display: flex;
	flex-direction: column;
	text-align: right;
	gap: 0.5ch;
}

.signOut {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8rem;
	font-weight: 500;
	padding: 5px;
	border-radius: var(--border-radius);
	width: fit-content;

	align-self: flex-end;
}

.signOut:hover {
	background-color: rgba(var(--foreground-rgb), 0.1);
}

.checkbox {
	margin-right: 1ch;
}

.checkboxes {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2em;
}

.authBox {
	display: flex;
	flex-direction: row;
	gap: 2ch;
	justify-content: right;
	grid-area: user;
}

.userImage {
	/* clip image to circle */
	border-radius: 50%;
	object-fit: cover;
}

.logo {
	display: 'flex';
	gap: '1ch';
}

.logo {
	--logo-width: 5em;
	--logo-mtd: #fff;
	--logo-swoosh: #e10027;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

@media (prefers-color-scheme: light) {
	.logo {
		--logo-mtd: #0071ce;
	}
}

.logo svg {
	display: block;
	margin-right: 1ch;
	margin-top: 0.5ch;
}
