.departureItem {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 2em;

	margin: 0 0 var(--line-pad) 0;
	padding: var(--departure-y-pad) var(--departure-x-pad);

	color: var(--departure-text-color);
	background-color: var(--departure-background);
	border-radius: var(--departure-border-radius);
}

.departureItemContent {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: var(--departure-line-height);

	line-height: 1.1;
}

.realtimeIcon {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 13px 10px;
}

.routeNumber {
	display: block;
	grid-area: num;
	width: 4ch;
	padding: 5px 0;

	/* font-family: interstate-condensed, sans-serif; */
	font-size: var(--departure-number-font-size);
	font-weight: 900;
	border-radius: var(--departure-border-radius);
	font-style: normal;
	letter-spacing: 2px;

	text-align: center;
	align-self: center;
}
.routeInfo {
	text-transform: uppercase;
}

.headsign {
	font-weight: 800;
	font-size: var(--departure-headsign-font-size);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.direction {
	font-weight: 500;
	font-size: var(--departure-direction-font-size);
}

.departureTimes {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-left: auto;
	align-items: right;
	text-align: right;
}

.firstTime {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	font-weight: 700;
	font-size: var(--departure-first-font-size);
}

.secondTime {
	display: flex;
	flex-direction: row;
	align-items: center;

	justify-content: flex-end;

	font-weight: 200;
	font-size: var(--departure-second-font-size);
}

.hopperIcon {
	color: black;
	font-family: interstate, sans-serif;
	font-weight: 700;

	/* margin-bottom: 2px; */

	background-color: var(--departure-text-color);
	border-radius: var(--departure-border-radius);

	padding: 0 0.3ch;

	font-size: 70%;

	margin-right: 7px;
}

.skeleton {
	background-color: var(--skeleton-background);
	background: linear-gradient(90deg, var(--skeleton-background) 25%, var(--skeleton-highlight) 50%, var(--skeleton-background) 75%);
	background-size: 200% 100%;
	animation: pulse 4s infinite linear;
}

.skeleton > * {
	display: none;
}

@keyframes pulse {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
