.kioskDeparturesContainer {
	grid-area: departures;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.kioskDepartures {
	display: flex;
	flex-direction: column;
	/* gap: 5px; */
}

.noDepartures,
.generalMessage,
.realtimeBlockingGeneralMessage {
	font-size: var(--messaging-font-size);
	padding: var(--departure-x-pad);
	background-color: var(--messaging-background-color);
	color: black;
}

.generalMessage,
.realtimeBlockingGeneralMessage {
	color: white;
	background-color: maroon;
}

/* scroll */
.generalMessage {
	text-wrap: nowrap;
	overflow: hidden;
	/* position: absolute; */
}

.generalMessage span {
	display: inline-block;
	padding-left: var(--width);
	animation: scroll 10s linear infinite;
}

.noDepartures {
	text-align: center;
}

.marquee {
	--gap: 1rem;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
}

.marqueeContent {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	gap: var(--gap);
}

@keyframes scroll {
	0% {
		transform: translate3d(0%, 0, 0);
	}

	100% {
		transform: translate3d(-105%, 0, 0);
	}
}
