.stopName {
	grid-area: name;
	font-family: interstate-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 3rem;
	margin: -7px 0 -9px 0;
	text-align: var(--header-align);
}

.logo {
	grid-area: logo;
	height: 160px;
}

.header time,
.header h1,
.header img {
	display: block;
	line-height: 1;
}

.istopIcon {
	grid-area: istop;
	width: 3rem;
	height: 3rem;
}

.header {
	grid-area: header;
	max-height: var(--header-height);
	padding: 30px;
	display: grid;
	grid-template-rows: var(--header-rows);
	grid-template-columns: var(--header-columns);
	grid-template-areas: var(--header-areas);
	grid-gap: 15px;
	justify-content: center;
	align-items: center;

	color: var(--header-color);
	background-color: var(--header-background);
}
