.kioskDisplay {
	background-color: var(--departure-background);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content 1fr min-content;
	grid-template-areas:
		'header'
		'message'
		'departures'
		'ads';
	transform-origin: top left;
	transform: scale(var(--scale));

	width: var(--width);
	height: var(--height);
	margin: 0;
	padding: 0;
	overflow: hidden;

	border-radius: var(--viewport-border-radius);
}

.lightMode {
	--departure-text-color: #242424;
	--departure-background: rgb(255, 255, 255);
	--departure-line-color: rgb(208, 208, 208);
	--departure-hopper-background-color: rgb(225, 225, 225);

	--messaging-background-color: #e6e6e6;

	--header-background: #242424;
	--header-color: #fff;

	--skeleton-background: #f0f0f088;
	--skeleton-highlight: #f0f0f056;

	--realtime-icon-color: black;
	--route-number-border-color: rgba(55, 55, 55, 0.274);

	--icon-message-background: #f1f1f1;

	--soon-departure-color: #b30000;
	--blue: #0021b3;
}

.darkMode {
	--header-color: #fff;

	--header-background: #242424;

	--departure-background: #242424;
	--departure-line-color: #242424;

	--skeleton-background: #000;
	--skeleton-highlight: #b8b8b86c;

	--departure-background: rgba(55, 55, 55, 0.8);
	--departure-text-color: #fff;
	--departure-hopper-background-color: rgb(84, 84, 84);

	--realtime-icon-color: white;
	--route-number-border-color: rgba(55, 55, 55, 0.8);

	--icon-message-background: #242424;
	--soon-departure-color: #fc7272;
	--blue: #0021b3;
}

.horizontal {
	width: var(--height);
	height: var(--width);
}
