.connectionError {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5ch;

	font-size: var(--messaging-font-size);
	padding: var(--departure-x-pad);
	background-color: var(--messaging-background-color);
	color: black;
}
