.busMarker {
	background-color: darkblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.397);
	font-family: 'Interstate';
	border-radius: 5px;
	padding: 3px 7px;

	text-transform: uppercase;
	flex-wrap: nowrap;
	gap: 0.6em;
	border: 1px solid rgba(0, 0, 0, 0.26);
	opacity: 0.95;

	/* TODO use clsx for this */
	/* border-top-right-radius: 0; */
	/* border-bottom-right-radius: 0; */
}

.route {
	line-height: 1;
}

.number {
	font-size: 26px;
	font-weight: bolder;
	text-align: center;
	white-space: nowrap;
}

.routeName {
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
	white-space: nowrap;
}

.direction {
	text-align: center;
	font-size: 10px;
}

.occupancyIndicator {
	display: none;
	/* padding: 3px 3px 0 3px; */
	/* top: calc(-1em - 3px); */
	bottom: calc(-1em - 3px);
	margin: auto;
	padding: 0 3px 3px 3px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.26);
	/* border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; */
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	position: absolute;
	display: flex;
	flex-direction: row;

	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -200;
}
