.busMarker {
	background-color: darkblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.397);
	font-family: 'Interstate';
	border-radius: 5px;
	padding: 3px 7px;

	text-transform: uppercase;
	flex-wrap: nowrap;
	gap: 0.6em;
	border: 1px solid rgba(0, 0, 0, 0.26);
	opacity: 0.95;

	/* TODO use clsx for this */
	/* border-top-right-radius: 0; */
	/* border-bottom-right-radius: 0; */

	/* fade out when removed */
	transition: all 5s ease-in-out;
}

.route {
	line-height: 1;
}

.number {
	font-size: 26px;
	font-weight: bolder;
	text-align: center;
	white-space: nowrap;
}

.routeName {
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
	white-space: nowrap;
}

.direction {
	text-align: center;
	font-size: 10px;
}

.visible {
	opacity: 0.95;
}

.fadingOut {
	opacity: 0;
	scale: 0.85;
}
