.pageIndicators {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-direction: row;
	width: 100%;

	margin-top: auto;
	margin-bottom: 1em;
	position: absolute;
	bottom: 0;
}

.pageIndicatorDot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: var(--departure-hopper-background-color);
	border: 1px solid rgb(104, 104, 104);
}

.activePageIndicatorDot {
	background-color: var(--departure-text-color);

	border: 2px solid var(--departure-text-color);
	/* outline: 2px solid var(--departure-text-color); */
}

@property --percent {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0.001%;
}

@keyframes conic-gradient {
	from {
		--percent: 0.001%;
	}
	to {
		--percent: 100%;
	}
}

.activePageIndicatorDot {
	background-image: conic-gradient(var(--departure-text-color) var(--percent), var(--departure-background) 0);
	animation: conic-gradient linear;
	animation-fill-mode: forwards;
}
