.veoContainer {
	grid-area: map;
	display: grid;
	grid-template-areas: 'veo-banner' 'veo-map';
	grid-template-rows: min-content 1fr;
	grid-template-columns: 1fr;
	/* width: 100%;
	height: 100%; */
	/* padding-bottom: 10px; */
}

.banner {
	grid-area: veo-banner;
	/* height: var(--sub-header-height); */
	background-color: var(--header-background);
	color: var(--header-color);
	font-size: var(--sub-header-font-size);
	padding: var(--departure-y-pad) var(--departure-x-pad);
	font-weight: bold;
}

.sampleMarker,
.marker {
	/* background-color: #10b7a7; */
	background-image: radial-gradient(#10b7a7 40%, #053b36 100%);

	color: white;
	aspect-ratio: 1;
	padding: 2px;
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
	width: 3em;
	height: 3em;

	display: flex;
	align-items: center; /* Vertically centers the child */
	justify-content: center; /* Horizontally centers the child (optional) */
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
}

.gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(155deg, white 0%, transparent 30%);
}

.callout {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000a2;
	color: white;
	padding: 20px;
	padding-left: var(--departure-x-pad);
	font-size: 30px;
	line-height: 1.1;
	margin-top: 10px;
}

.legend {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 20px;
	margin: calc(var(--departure-x-pad) / 2);
	background-color: rgba(0, 0, 0, 0.76);
	/* border: 1px solid; */
}

.sampleMarker {
	font-size: 0.6em;
	margin-right: 7px;
}
