.infoContainer {
	background-color: rgb(var(--background-rgb));
	padding: 2em;
	gap: 2em;
	/* height: 100%; */
	height: min-content;
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	/* border-radius: var(--border-radius); */
	/* space in between */
	justify-content: space-between;
}

.attributesIcons {
	display: flex;
	flex-direction: row;
	gap: 1ch;
}

.healthBadges {
	margin-top: 1em;
	font-weight: bold;
}
.stopId {
	opacity: 70%;
	font-size: 130%;
}
.badgeContainer {
	display: flex;
	gap: 0.5em;
	flex-direction: column;
}

.kioskName {
	font-size: 300%;
	/* font-size: 300%; */
	/* margin-bottom: 0.5em; */
}

.content {
	display: flex;
	flex-direction: column;
	/* flex: 2; */
	gap: 0.2em;
}

.ipSignlink {
	display: flex;
	align-items: center;
	gap: 0.5ch;
}
