.parent {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	background-color: rgb(var(--background-secondary-rgb));
}

.children {
	border-top: 1px solid var(--led-sign-border-color);
	padding: 2em;
}

.kioskId {
	margin: 0;
	opacity: 60%;
	font: monospace;
}

.kioskCards {
	grid-area: cards;
	overflow-y: auto;

	background-color: rgb(var(--background-secondary-rgb));
}

.noIssues {
	text-align: center;
	margin-top: 2em;
}

.issuesHeader {
	display: flex;
	gap: 1em;
	align-items: center;
}

.issueCount {
	text-align: right;
}

@media (max-width: 1500px) {
	.parent {
		padding: 0;
	}
	.infoCards {
		grid-template-columns: 1fr !important;
	}
}

/* @media (max-width: 2000px), (max-width: 1500px) {
	.parent {
		padding: 0;
	}
	.infoCards {
		grid-template-columns: 1fr 1fr !important;
	}
}  */

.infoCards {
	height: 100%;
	padding: 1em;

	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));

	gap: 1em;
}

.splitInfoCard {
	display: grid;
}
