.parent {
	width: 100%;
	/* background-color: var(--card-background-color); */
	display: flex;
	flex-direction: column;
	/* height: max-content; */
	overflow-y: auto;
	/* calculate mobile friendly padding */
	padding: 2em;
	background-color: rgb(var(--background-secondary-rgb));
}

.children {
	border-top: 1px solid var(--led-sign-border-color);
	padding: 2em;
}

.kioskId {
	margin: 0;
	opacity: 60%;
	font: monospace;
}

.kioskCards {
	/* style={{ gridArea: 'cards', overflowY: 'scroll' }} */
	grid-area: cards;
	overflow-y: auto;

	background-color: rgb(var(--background-secondary-rgb));
}

.noIssues {
	text-align: center;
	margin-top: 2em;
}

.issuesHeader {
	display: flex;
	gap: 1em;
	/* align center vertically */
	align-items: center;
}

.issueCount {
	text-align: right;
}

@media (max-width: 700px) {
	.parent {
		padding: 0;
	}
}
